h1 {
  /* color: #b70b1f; */
  color: #5dd39e;
  text-align: center;
  text-shadow: 4px 4px 4px black;
  font-size: 48px;
}

body {
    font-family: 'MedievalSharp', serif;
    margin: auto;
    max-width: 600px;
    padding: 4rem;
    text-align: center;
    background-color: #2d6187;
    color: #effad3;
  }

#inputButton{
  font-family: 'MedievalSharp', serif;
  text-align: right;
  font-size: 16px;
}

iframe{
  border: groove;
}