h1 {
  color: #b70b1f;
  text-align: center;
  text-shadow: 4px 4px 4px black;
  font-size: 48px;
}

body {
    font-family: 'MedievalSharp', serif;;
    margin: auto;
    max-width: 600px;
    padding: 4rem;
    text-align: center;
    background-color: #4e5916;
    color: #d7caa1;
  }